.container {
  margin: 2rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px gray;
  display: flex;
  width: 55rem;
  height: 12rem;
}

.imageDiv {
  width: 30%;
  display: flex;
  align-items: center;
}

.imageDiv img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.infoDiv {
  width: 70%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
}

.infoMainDiv {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: brown;
}

.dietsDiv {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.dietsDiv p {
  background-color: rgb(59, 111, 170);
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
}

.infoAuxDIv {
  border-left: 1px solid gray;
  width: 25%;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  background-color: brown;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
