.cardContainer {
    margin: 10px 20px 20px 20px;
    display: flex;
    justify-content: center;
}
.containerButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divText {
    background-color: antiquewhite;
    width: 100vh;
    text-align: justify;
    text-indent: 20px;
}
.button {
    margin: 2px 2px 2px 2px;
}

.containerCardText {
    text-align: center;
}