@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');


.container {
  position: absolute;
  left: 2%;
  top: 5%;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brandtittle {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: black;
  color: transparent; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}


.label {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 4px;
}

.label:nth-of-type(2) {
  margin-top: 12px;
}


.input {
  caret-color: red;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.input::placeholder {
  color: gray;
}

.button {
  color: white;
  margin-top: 10px;
  background: burlywood;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

button:hover {
  box-shadow: none;
}



