.error{
    background-color: red;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fbab7e;
}

.title {
    display: flex;
    justify-content: center;
    text-align: left; 
        font-family: Arial; 
        font-size: 50px; 
        COLOR: #1278BF; 
        text-shadow: 0px 0px 9px #508AD3;
        
}

.image {
display: flex;
width: 250px;
height: 210px;
position: absolute;
right: 15%;
border-radius: 20%;

}
.table {
    display: flex;
    flex-direction: column;
    width: 50% ; margin-left: 20%; padding: 30px;
    
    
}

.body {
    display: flex;
    flex-direction: row;
    left: 20px;

}


.label {

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    
}
    

.input {
    border-radius: 5%;

}

.cost {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;

}