.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-image: linear-gradient(to bottom, #0be90b, #517551);
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 25px;
    color:white;
    font-weight: bold;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: large;
}



.sidebarIcon {
    margin-right: 5px;
    font-size: 20px;
}