$box-shadow: 5px 5px 10px gray;
$border: 1px solid rgb(199, 199, 199);

.container {
  background-color: #fff;
  border: $border;
  //max-width: 15rem;
  min-height: 8rem;
  border-radius: 10px;
  box-shadow: $box-shadow;
  padding: 1rem;
  box-sizing: border-box;
  // overflow: hidden;
  display: flex;
  position: relative;

  .deleteButtonDiv {
    position: absolute;
    font-size: 24px;
    color: brown;
    right: -7.5px;
    top: -7.5px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 3px 3px 5px gray;
  }

  .imgDiv {
    width: 30%;
  }

  .infoDiv {
    width: 70%;
    border-left: $border;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .stars {
        font-size: 12px;
    }

    .longComment {
      font-size: 14px;
    }

    .userDiv {
        border-top: $border;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
  }
}
