$box-shadow: 5px 5px 10px gray;
$border: 1px solid rgb(199, 199, 199);

.container {
  border: $border;
  box-shadow: $box-shadow;
  width: 62rem;
  min-height: 5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleDiv {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 0.3rem;

  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

.cardContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.noRecipesDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableHeaders {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid black;
}

.orderItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pDiv {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}

.statusCanceled {
  width: calc(100% / 3);
  background-color: rgba(233, 0, 0, 0.5);
  color: red;
  padding: 0.2rem 0.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}
.statusPending {
  width: calc(100% / 3);
  background-color: rgb(235, 219, 0, 0.5);
  color: rgb(63, 63, 0);
  padding: 0.2rem 0.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}
.statusDispached {
  width: calc(100% / 3);
  background-color: rgba(73, 230, 0, 0.5);
  color: green;
  padding: 0.2rem 0.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}
