.featured {
width: 100px;
display: flex;
justify-content: space-between;
}

.featuredItem {
    flex: 1;
margin: 0px 20px;
padding: 30px;
border-radius: 10px;
cursor: pointer;
box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
}

.featuredTitle {
font-size: 20px;

}

.featuredMoneyContainer {
margin: 10px 0px;
display: flex;
align-items: center;
}

.featuredMoney {
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredSub {
    font-size: 15px;
    color: gray;
}

