@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.containerMain {

  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  
  }

.containerinstructions {
    background-color: white;
    border-radius: 3px;
    width: 70%;
    padding: 2rem;
    box-sizing: border-box;
}

.containerImageInstrutions {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.imageDetail{
  width: 560px;
  height: 370px;
  margin: auto;
  padding: 20px 0;
  border-radius: 50px;
}
.containerImage {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  overflow: hidden;
  width: 40rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 35%;
  height: 25%;
  object-fit: cover;
}
.containerImage img {
  z-index: 0;
  position: absolute;
  height: 30rem;
}

.buttonGoBack {
  background-color: aliceblue;
}
