.container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 4rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.logo{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1 {
    background-color: #ffffff; /* Green */
    border: none;
    color: rgb(9, 9, 9);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.btn1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn2 {
    background-color: #ffffff; /* Green */
    border: none;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}