.containermax {
    flex: 2;
    width: 100vh;
    height: 100%;
}

.container {
    display: flex;
    margin-top: 10px;
}

.contain {
display: flex;
height: 100vh;
width: 100%;
}

.userList {

    display: flex;
    align-items: center;
    justify-content: center;
margin-left: 5%;
}

table {
    display: flex;
    
}
