.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c2461;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }

}

.card {
    border: 1px solid #fff;
    height: 30rem;
    width: 20rem;
    position: relative;
}

.cardFooter {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #dfe8e9;
    padding: 9px;
}

.progressBar {
    width: 100%;
}