.container {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.componentDiv {
    width: 400px;
}

