.ordersTable{
    width: 100%;
}
.ordersTable td, th{
    text-align: center;
}
.ordersTable tr, th{
    height: 50px;
}
.par{
    background-color:blanchedalmond;
}
.ordersTable .orderItem, thead, tbody tr:hover{
    background-color: burlywood;
}
.ordersTable button{
    padding: 10px;
}